.vib:hover{

    animation-duration: 0.5s;
    animation-name: slidein;

}

@keyframes slidein {
    from {
      margin-left: 3px;
     
    }
  
    to {
      margin-left: 0px;
    }
  }

.vib-t2:hover{
    font-size: large;
}

.vib-t2.active{
  font-size: large !important;
  color:  #FDF304 !important;
  background-color: #201A15 !important;
}


.vib-t2.active:hover{
  color: white !important;
}

.vib-t:hover{

  background-color: #FDF304;
  color:black !important;
  font-size: large;

}

  